<!-- <p>calculator-modal works!</p> -->
<div class="container d-flex justify-content-center">
      <div class="calculator">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Formula Name"
            [(ngModel)]="formulaName"
          />
        </div>
        <input
          type="text"
          [ngModel]="input"
          class="form-control-sm form-control text-end"
          readonly
        />
        <div class="row mt-3">
          <div class="col-3">
            <button class="clr btn col-12" (click)="ClearAC()">
              AC
            </button>
          </div>
          <div class="col-3">
            <button class="clr btn col-12" (click)="Delete()">
              Del
            </button>
          </div>
          <div class="col-3">
            <button class="opr btn col-12" (click)="Symbols('(')">
              (
            </button>
          </div>
          <div class="col-3">
            <button class="opr btn col-12" (click)="Symbols(')')">
              )
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('1')">
              1
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('2')">
              2
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('3')">
              3
            </button>
          </div>
          <div class="col-3">
            <button class="opr btn col-12" (click)="Operators('/')">
              &div;
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('4')">
              4
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('5')">
              5
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('6')">
              6
            </button>
          </div>
          <div class="col-3">
            <button class="opr btn col-12" (click)="Operators('*')">
              x
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('7')">
              7
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('8')">
              8
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('9')">
              9
            </button>
          </div>
          <div class="col-3">
            <button class="opr btn col-12" (click)="Operators('+')">
              +
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <button class="btn col-12" (click)="Operators(',')">
              ,
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="Numbers('0')">
              0
            </button>
          </div>
          <div class="col-3">
            <button class="btn col-12" (click)="DotOperators('.')">
              .
            </button>
          </div>
          <div class="col-3">
            <button class="opr btn col-12" (click)="Operators('-')">
              -
            </button>
          </div>
        </div>
      </div>
      <div class="calculator">
        <div class="row">
          <ng-container *ngFor="let func of funcArr">
            <div class="col-4 funcRow">
              <button
                class="func btn col-12"
                (click)="specialFunctions(func.insertChar)"
              >
                {{ func.name }}
              </button>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <ng-container *ngFor="let vari of varArr">
            <div class="col-4 mt-3">
              <button
                class="var btn col-12"
                (click)="variablesHandling(vari.name)"
              >
                {{ vari.name }}
              </button>
            </div>
          </ng-container>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button
              autofocus
              class="parse btn col-12"
              (click)="parseFunction()"
            >
              Parse
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button
              class="save btn col-12"
              (click)="saveFormula()"
              [disabled]="!isParsingDone"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>