// $calculator-background: #ffffff;
// $inputBackground: #e6f3ff;
// $numpad: #66b3ff;
// $clrBtn:  #ff3333;
// $operators: #0073e6;
// $functionBtn: #00aaff;
// $variablesBtn:  #4dc3ff;
// $parseBtn: #0184EC;
// $saveBtn: #2eb82e;
// $applyBtn: #2eb82e;

$calculator-background: #000000;
$inputBackground: #CCCCCC;
$numpad: #4D4D4D;
$clrBtn: #C71E25;
$operators: #F1A43C;
$functionBtn: #A5A5A5;
$variablesBtn: #212121;
$parseBtn: #2780E3;
$saveBtn: #3FB618;
$applyBtn: #00a676;

.calculator {
    display: block;
    background: $calculator-background;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    width: 475px;
    input {
        background-color: $inputBackground;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        border: 1px solid black;
        box-shadow: 0px 0px 3px black;
    }
    button {
        word-wrap: break-word;
        font-size: 1rem;
        font-weight: 400;
        color: white;
        border: 1px solid black;
        box-shadow: 0px 0px 3px black;
    }
    .btn{
        background-color: $numpad;
    }
    .clr{
        background-color: $clrBtn;
    }
    .opr{
        background-color: $operators;
    }
    .func {
        background-color: $functionBtn;
    }
    .var{
        background-color: $variablesBtn;
    }
    .parse{
        background-color: $parseBtn;
    }
    .save{
        background-color: $saveBtn;
    }
    .apply{
        background-color: $applyBtn;
    }
}