h1 {
  padding: 10px 30px;
  margin: 0;
  height: 70px;
  display: flex;
  background-color: #bfc0c0;
  text-shadow: 1px 1px 2px black;
  color: white;
}
.sidebar {
  height: 100%;
  margin-right: 0;
  width: 20%;
  border-right: 3px solid gray;
  color: #000000a6;
  ul {
    margin: 0;
    padding-left: 0;
    font-size: 25px;
  }
  li {
    list-style: none;
    padding: 15px 30px;
    &:hover {
      color: black;
      background-color: rgb(231, 231, 231);
      border-radius: 5px;
    }
  }
}
