<app-navbar></app-navbar>
<div class="content">
    <h2>Menu</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis voluptatum libero assumenda at atque, beatae nihil quisquam possimus animi deleniti veniam vero nesciunt quia aperiam recusandae, aut laudantium voluptas dolorem!</p>
    <h3>Custom Directive Example</h3>
    <p>paragraph with custom directive</p>
    <p colorRed>paragraph with custom directive to change color to red</p>
    <h3>Color Change Example</h3>
    <p mouseAction>Hover Over to see the change</p>
    <h3>Two-Way Binding</h3>
    <input type="text" (input)="handleChange($event)" />
    <p>{{ inputText }}</p>
    <h4>Two-way binding with ngModel from FormsModule</h4>
    <input type="text" [(ngModel)]="inputText2" />
    <p>{{ inputText2 }}</p>
    <h3>Parent-Child data transfer</h3>
    <!-- <ng-container *ngFor="let item of food">
        <app-food-item [food]="item"></app-food-item>
    </ng-container> -->
</div>
