<app-navbar></app-navbar>
<div class="card-cont container mt-3 mb-3 p-4 ps-5">
  <button type="button" class="btn btn-lg btn-primary" (click)="open(mymodal)">
    Add Formula
  </button>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Calculator</h4>
    <button type="button" class="close btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-calculator-modal [formulaArr]="formulaArr" (closeModal)="closeModal()"></app-calculator-modal>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
      Cancel
    </button>
  </div>
</ng-template>
<form (ngSubmit)="submit()" [formGroup]="form" class="card-cont container mb-2 p-3 pt-0 p-5">
  <div class="headingCont mt-2 p-2 pb-0">
    <h3 class="text-muted mt-3 ps-1 pb-1" muted>Formulas</h3>
  </div>
  <div class="row">
    <ng-container *ngFor="let formula of formulaArr; let i = index">
      <div class="col-6">
        <input class="form-check-input m-2 mt-4" type="checkbox" id="Check{{i}}" formArrayName="FormulaName"
          [value]="formula.FormulaName" (change)="onCheck($event)" />
        <label class="form-check-label" for="Check{{i}}">Default checkbox</label>
        <button type="button" class="editbtn" (click)="openToEdit(formula)"><svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 18.414062 2 C 18.158062 2 17.902031 2.0979687 17.707031 2.2929688 L 15.707031 4.2929688 L 14.292969 5.7070312 L 3 17 L 3 21 L 7 21 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.926094 2.0979687 18.670063 2 18.414062 2 z M 18.414062 4.4140625 L 19.585938 5.5859375 L 18.292969 6.8789062 L 17.121094 5.7070312 L 18.414062 4.4140625 z M 15.707031 7.1210938 L 16.878906 8.2929688 L 6.171875 19 L 5 19 L 5 17.828125 L 15.707031 7.1210938 z"/></svg></button>
        <button type="button" class="delbtn" (click)="deleteFormula(formula.FormulaName)"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="24" height="24"
          viewBox="0 0 24 24"
          style=" fill:#FFFFFF;"><path d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z"></path></svg></button>
        <div class="card mt-3 mb-3">
          <div class="card-body">
            <h5 class="card-title"><b>Name: {{ formula.FormulaName }}</b></h5>
            <p class="card-text mt-3">Formula: {{ formula.Formula }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-3 mt-3 ms-auto">
      <button type="submit" class="btn btn-primary">Apply</button>
    </div>
  </div>
</form>