/* You can add global styles to this file, and also import other style files */
@import "bootswatch/dist/cosmo/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/cosmo/bootswatch";
@import 'ngx-toastr/toastr';

body {
  margin: 0;
  background-color: rgb(238, 238, 238);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.toast-container .ngx-toastr{
  margin-top: 0.5rem;
  z-index: 1000;
}